body {
  font-family: 'Open Sans', sans-serif;
}

.banner img{
  width: 100%;
}

.navbar {
  max-height: 50px;
}

ul li {
  width: auto;
}

#portfolio img{
  max-width: 85%;
}

@media(min-width: 1200px) {
  ul li {
    font-size: 18px;
  }

  #portfolio img{
    height: 220px;
    border: 1px solid rgba(0, 0, 0, 0.1)
  }

}

@media(max-width: 1199px) {
  ul li {
    font-size: 13px;
  }

  #portfolio img{
    height: 220px;
    border: 1px solid rgba(0, 0, 0, 0.1)
  }
}

@media(max-width: 992px) {
  ul li {
    font-size: 10px;
  }

  ul li a {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  #portfolio img{
    height: 160px;
    border: 1px solid rgba(0, 0, 0, 0.1)
  }
}


#footer{
	padding-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	color: #777777;
	font-size: 90%;
}

#footer.ma{
	margin-top: 300px;
}


#main{
	margin-bottom: 80px;
}

h1{
	text-align: center;
	margin-bottom: 30px;
}

.carousel-inner img{
	width: 931px;
}

#po-div{
  padding-bottom: 100px;
}


#weblink{
	text-align: center;
	margin-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 30px;
}

#weblink p{
	color: #777777;
	font-weight: bold;
}

h2{
	margin-bottom: 20px;
	font-weight: 400;
}

#more{
	float: left;
	margin-top: 20px;
}

.caret-right {
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid #777777;
  border-right: 4px solid rgba(0, 0, 0, 0);
}

#ma1{
	float: left;
	margin: 20px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	margin-left: 0px;
	margin-top: 0px;
}

#ma2{
	position: relative;
	float: right;
	margin: 20px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	margin-right: 0px;
	margin-top: 0px;
	width: 210px;
}

b#ma{
	color: #cea910;
}

p#ma{
	text-align: justify;
}

#paypal{
	margin-top: 20px;
}

#contact th{
	width: 300px;
}

#map{
	margin-top: 20px;
	margin-left: 150px;
	border: 1px solid #fff123;
}

#didiv{
	max-width: 960px;
}
